.gallery-page {
	.wrapper {
		padding: 0;
	}

	.inside-page-main-title {
		@include inside-page-main-title;
		text-transform: initial;
	}

	.mobile-version {
		padding-bottom: 60px;
		.gallery-mobile-slider {
			margin: 25px auto 0;
			* {
				outline: none !important;
			}

			.gallery-item {
				width: 320px;
				height: 214px;
				overflow: hidden;
				position: relative;
				@include transition;

				&:before {
					position: absolute;
					content: "";
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					background-color: rgba(0, 0, 0, 0.3);
					z-index: 0;
				}

				&:hover {
					&:before {
						z-index: -1;
					}

					.album-title {
						color: #000000;
					}
				}

				a {
					display: block;
					width: 100%;
					height: 100%;
				}

				img {
					width: 100%;
					height: auto;
				}

				.album-title {
					position: absolute;
					left: 20px;
					bottom: 20px;
					width: auto;
					height: auto;
					z-index: 2;
					color: #ffffff;
					font: 400 24px / 36px $Swiss721BT;
					@include transition;
				}
			}
		}
	}

	.desctop-version {
		display: none;
	}

	.cd-popup-container {
		color: rgba(0, 0, 0, 0);
		
	}
}