.slider-section {
	min-height: auto;
	padding-top: 145px;
	position: relative;

	background-image: url("../images/home-page-slider.jpg");
	background-repeat: no-repeat;
	background-position: 65% 50%;
	background-size: cover;

	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.1);
		z-index: 0;
	}

	.desctop-get-info,
	.welcome-desctop {
		display: none;
	}

	.main-slider {
		margin: 40px auto 120px;
		padding-bottom: 50px;

		.prev-btn,
		.next-btn {
			position: absolute;
			bottom: 0;
			display: block;
			width: 27px;
			height: 27px;
			border: 2px solid #566273;
			text-align: center;
			margin: 0 auto;
			border-radius: 50%;
			cursor: pointer;

			.fa {
				font-size: 27px;
				line-height: 23px;
				text-align: center;
				color: #566273;
			}
		}

		.prev-btn {
			left: 0;
		}

		.next-btn {
			right: 0;
		}
	}

	.slider-content {
		.content-title {
			text-shadow: 0 0 8px rgba(252, 252, 252, 0.75);
			color: #ed0808;
			font: 400 34px / 38px $Swiss721BT;
		}

		.program-list {
			padding-left: 10px;
			p {
				text-shadow: 0 0 8px rgba(252, 252, 252, 0.75);
				color: #ed0808;
				font: 400 19px / 22px $Swiss721BT;
			}
		}
	}

	.welcome-text {
		position: relative;
		background-color: #d4dadf;
		background-size: cover;

		&:before {
			position: absolute;
			content: "";
			top: -85px;
			left: 0;
			width: 100%;
			height: 87px;
			background-image: url("../images/get-info-mobile.png");
			background-repeat: no-repeat;
			background-position: 12% 20%;
			z-index: 0;
		}

		.mobile-get-info {
			max-width: 460px;
			margin: 0 auto;
			padding: 5px 0 15px;
			.title {
				margin: 5px 0;
				padding: 8px 0 8px 8px;
				color: #ffffff;
				font: 400 30px / 32px $Swiss721BT;

				background-color: #ec7070;
				/* IE9, iOS 3.2+ */
				background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNlMGRlZGUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMDEiLz48c3RvcCBzdG9wLWNvbG9yPSIjZjgwMDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4wMSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjk4NiIvPjxzdG9wIHN0b3AtY29sb3I9IiNmODAwMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjk4NiIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
				background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(224, 222, 222)),color-stop(0.01, rgb(224, 224, 224)),color-stop(0.01, rgb(248, 0, 0)),color-stop(0.986, rgb(224, 224, 224)),color-stop(0.986, rgb(248, 0, 0)),color-stop(1, rgb(224, 221, 221)));
				/* Android 2.3 */
				background-image: -webkit-repeating-linear-gradient(top left,rgb(248, 0, 0) 1%,rgb(224, 224, 224) 98.6%);
				/* IE10+ */
				background-image: repeating-linear-gradient(to bottom right,rgb(248, 0, 0) 1%,rgb(224, 224, 224) 98.6%);
				background-image: -ms-repeating-linear-gradient(top left,rgb(248, 0, 0) 1%,rgb(224, 224, 224) 98.6%);
			}

			.form-wrapper {
				overflow: hidden;
				.name-field,
				.phone-field,
				.email-email,
				.program-email {
					display: block;
					width: 100%;
					height: 40px;
					background-color: #ffffff;
					border: 0;
					margin: 5px 0;
					padding-left: 8px;
					color: #b4b4b4;
					font: 400 20px / 40px $Swiss721BT;
					@include border-box;
				}
				.submit-btn {
					display: block;
					float: right;
					width: 144px;
					height: 39px;
					margin: 5px 0 0;
					color: #ffffff;
					font: 400 30px / 39px $Swiss721BT;
					text-transform: uppercase;
					border: 0;
					background-color: #b30000;
				}
			}
		}
	}
}

.program-section {
	position: relative;
	padding: 0 0 70px;
	background-image: url("../images/program-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:before {
		position: absolute;
		content: "";
		top: -30px;
		left: 0;
		width: 100%;
		height: 111px;
		background-image: url("../images/mobile-bg-programs.png");
		background-repeat: no-repeat;
		background-position: 14% 20%;
		z-index: 0;

	}

	.program-title {
		color: #627078;
		font: 400 30px / 34px $Swiss721BT;
		float: right;
		margin: 0 15px 65px 0;
		padding: 10px 0 0;
	}

	.mobile-list {
		clear: both;
		max-width: 460px;
		margin: 0 auto;
		li {
			display: block;
			padding: 5px;
			border-top: 2px solid rgba(255, 255, 255, 0.6);

			a {
				color: #ffffff;
				font: 400 25px / 30px $OpenSans;
			}

			&:last-child {
				border-bottom: 2px solid rgba(255, 255, 255, 0.6);
			}
		}
	}

	.desctop-list {
		display: none;
	}
}
.gallery-section {
	position: relative;

	&:before {
		position: absolute;
		content: "";
		left: 0;
		top: -33px;
		width: 100%;
		height: 55px;
		background-image: url("../images/gallery-top.png");
		background-repeat: no-repeat;
		background-position: 18% 20%;
		z-index: 0;
	}

	.wrapper {
		max-width: 100%;
		padding: 0;
	}

	.gallery-slider {
		position: relative;
		clear: both;

		.prev-btn,
		.next-btn {
			position: absolute;
			bottom: 15px;
			display: block;
			width: 27px;
			height: 27px;
			border: 2px solid #566273;
			text-align: center;
			margin: 0 auto;
			border-radius: 50%;
			cursor: pointer;
			z-index: 1;

			.fa {
				font-size: 27px;
				line-height: 23px;
				text-align: center;
				color: #566273;
			}
		}

		.prev-btn {
			left: 20px;
		}

		.next-btn {
			right: 20px;
		}

		.img-container {
			width: 320px;
			height: 215px;

			img {
				min-width: 320px;
				min-height: 215px;
				height: auto;
			}
		}
	}

	.gallery-title {
		position: relative;
		z-index: 1;
		top: -10px;
		float: right;
		margin: -10px 30px 0 0;
		color: #627078;
		font: 400 30px / 32px $OpenSans;
	}
}

.home-page-map {
	position: relative;
	background-color: #7c8d94;

	&:before {
		position: absolute;
		content: "";
		top: -3px;
		left: 0;
		width: 100%;
		height: 120px;
		background-image: url("../images/map-top-bg-mobile.png");
		background-repeat: no-repeat;
		background-position: 19% 20%;
		z-index: 0;
	}


	.title {
		position: relative;
		z-index: 1;
		float: right;
		margin: 60px 20px 35px;
		color: #627078;
		font: 400 30px / 32px $Swiss721BT;

		span {
			text-transform: uppercase;
		}
	}

	.mapWrapper {
		clear: both;
		max-height: 505px;
		height: auto;
		padding: 0;

		.map-overflow {
			z-index: -1;
		}
	}

	#mapWrapper {
		display: none;
	}



	.map-info-block {
		.row {
			overflow: hidden;
			margin: 10px auto;
			.img-wrapper {
				float: left;
				margin: 0 15px 0 0;
				&.desctop-img {
					display: none;
				}

				.fa {
					display: block;
					margin: 5px 0 0;
					color: #ffffff;
					font-size: 27px;
					line-height: 22px;
				}
			}

			a, p {
				color: #ffffff;
				font: 400 30px / 32px $Swiss721BT;
			}
		}

		.get-direction {
			display: block;
			float: right;
			margin: 40px 0 50px;
			color: #ffffff;
			font: 400 30px / 32px $Swiss721BT;
		}

		.social-block {
			height: 170px;
			margin-top: 40px;
			background-image: url("../images/mobile-social-bg.png");
			background-repeat: no-repeat;
			background-position: 15% 20%;
			background-size: cover;

			.social-list {
				clear: both;
				margin: 0 auto;
				text-align: center;
				li {
					display: inline-block;
					width: 45px;
					height: 45px;
					border-radius: 50%;
					overflow: hidden;
					-moz-transition: all 0.5s ease-in-out; 
					-webkit-transition: all 0.5s ease-in-out; 
					-o-transition: all 0.5s ease-in-out; 
					-ms-transition: all 0.5s ease-in-out; 
					transition: all 0.5s ease-in-out;

					&:hover {
						.fa {
							-moz-transform: rotate(360deg); 
							-webkit-transform: rotate(360deg); 
							-o-transform: rotate(360deg); 
							-ms-transform: rotate(360deg); 
							transform: rotate(360deg);
						}
					}

					.fa {
						display: block;
						margin: 0 auto;
						text-align: center;
						color: #ffffff;
						font-size: 24px;
						line-height: 45px;
						border-radius: 50%;
						-moz-transition: all 0.5s ease-in-out; 
						-webkit-transition: all 0.5s ease-in-out; 
						-o-transition: all 0.5s ease-in-out; 
						-ms-transition: all 0.5s ease-in-out; 
						transition: all 0.5s ease-in-out;
					}

					.fa-facebook {
						background-color: #0a2971;
					}

					.fa-twitter {
						background-color: #3398e9;
					}

					.fa-instagram {
						background-color: #0b4073;
					}

					.fa-linkedin {
						background-color: #005c97;
					}

					.fa-youtube-play {
						background-color: #b60e09;
					}
				}
			}
		}
	}
}
.preffoter {
	display: none;
}