.slider-section {
	min-height: auto;
	padding-top: 145px;

	background-image: url("../images/home-page-slider.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}